body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    color: white; 
    overflow: hidden; /* Evitar la barra de desplazamiento */
}


header {
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Ajusta el relleno según sea necesario */
}

.logo{
    width: 300px;
    margin: auto;
    transform: translateX(50%);
}
.logo img {
    width: 300px;
    margin: auto;
    transform: translateX(50%);
}

nav {
    display: flex;
    width: 100%; /* Establecer el tamaño del menú de navegación al 100% del ancho del header */
    margin: auto;
    align-items: center;

}

nav ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    align-items: center;
}

nav ul li {
    display: flex;
    align-items: center;

}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    display: flex;
}

.auth-buttons {
    display: flex;
    align-items: center;
    margin-left: 28%;
    margin-right: 2%;
}

.auth-buttons a {
    margin-left: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Añade posicionamiento relativo al contenedor */
}

.login-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.login-box {
    width: 300px; 
    border-radius: 5px;
    text-align: center;
    transform: translateX(-100%);
    margin: auto;
    margin-top: -20%;
}

.login-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box label {
    display: none;
}


.login-box input {
    border: none; 
    background: transparent; 
    margin-bottom: 15px; 
    padding: 5px; 
    outline: none; 
    border-bottom: 1px solid #ccc; 
    color: white; 
   
}

.login-box input[type="email"] {
    width: 350px;
    margin-top: 50px

}

.login-box input[type="password"] {
    width: 350px;

}


.login-box input[type="submit"] {
    background-color: #555; 
    color: rgb(0, 0, 0); 
    padding: 10px;
    border: none; 
    border-radius: 28px; 
    cursor: pointer; 
    width: 100%;
}

.login-box input[type="button"] {
    background-color: transparent;
    color: rgb(255, 217, 0); 
    padding: 10px; 
    border: 1px solid rgb(255, 217, 0); 
    border-radius: 28px; 
    cursor: pointer; 
    width: 100%;
    text-align: center;
}


.login-box input::placeholder {
    color: #ffffff; 
}
.login-box a {
    color: white;
}
/* Media Query para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    .logo img {
        width: 30px; /* Reduzca el tamaño del logo para pantallas más pequeñas */
    }

    nav ul li {
        margin-right: 10px; /* Ajusta el espaciado entre elementos de navegación */
    }

    /* Otros estilos específicos para pantallas pequeñas */
}

/* Media Query para pantallas medianas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Estilos específicos para pantallas medianas */
}