body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    height: 100vh;
    background-color: black;
    color: white;
}

header {
    max-width: 100vw; /* Establecer un ancho máximo */
    display: flex;
    background-color: transparent;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 300px;
    margin: auto;
    transform: translateX(50%);
}
.logo img {
    width: 50px;
    margin: auto;
    transform: translateX(50%);
}

nav {
    display: flex;
    width: 100%; /* Establecer el tamaño del menú de navegación al 100% del ancho del header */
    margin: auto;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    align-items: center;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    display: flex;
}

.auth-buttons {
    display: flex;
    align-items: center;
    margin-left: 28%;
    margin-right: 2%;
}

.auth-buttons a {
    margin-left: 10px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #ffffff1f, #000000);
    z-index: -1; /* Coloca el gradiente detrás de los demás elementos del contenedor */
}

.image-container {
    width: 100vw;
    height: 100vh;
    background-image: url(imgs/FondoLOGIN.jpg);
    background-size: cover; /* Ajustar la imagen para cubrir el contenedor */
    background-size: relative;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: lighten;
}

.login-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: fit-content;
}

.login-box {
    width: 300px; 
    border-radius: 5px;
    text-align: center;
    margin: auto;
}

.login-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.login-box label {
    display: none;
}

.login-box input {
    border: none; 
    background: transparent; 
    margin-bottom: 15px; 
    padding: 5px; 
    outline: none; 
    border-bottom: 1px solid #ccc; 
    color: white; 
}

.login-box input[type="email"] {
    width: 350px;
    margin-top: 50px;
}

.login-box input[type="password"] {
    width: 350px;
}

.login-box input[type="submit"],
.login-box input[type="button"] {
    padding: 10px;
    border-radius: 28px; 
    cursor: pointer; 
    width: 100%;
}

.login-box input[type="submit"] {
    background-color: #555; 
    color: rgb(0, 0, 0); 
    border: none; 
}

.login-box input[type="button"] {
    background-color: transparent;
    color: rgb(255, 217, 0); 
    border: 1px solid rgb(255, 217, 0); 
    text-align: center;
}

.login-box input::placeholder {
    color: #ffffff; 
}

.login-box a {
    color: white;
    display: block; /* Convertir el enlace en un bloque para aplicar alineación */
    margin-top: 20px; /* Agregar un margen superior para separarlo del botón de registro */
    text-align: center; /* Centrar el texto del enlace */
}


/* Media Query para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    .logo img {
        width: 30px; /* Reducir el tamaño del logo para pantallas más pequeñas */
    }

    nav ul li {
        margin-right: 10px; /* Ajustar el espaciado entre elementos de navegación */
    }

    /* Otros estilos específicos para pantallas pequeñas */
}

/* Media Query para pantallas medianas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Estilos específicos para pantallas medianas */
}
