body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    height: 100vh;
    background-color: black;
    color: white;
}

header {
    max-width: 100vw; /* Establecer un ancho máximo */
    display: flex;
    background-color: transparent;
    color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo{
    width: 300px;
    margin: auto;
    transform: translateX(50%);
}
.logo img {
    width: 50px;
    margin: auto;
    transform: translateX(50%);
}

nav {
    display: flex;
    width: 100%; /* Establecer el tamaño del menú de navegación al 100% del ancho del header */
    margin: auto;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    align-items: center;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 20px;
    margin-right: auto;
    font-size: 18px;
    display: flex;
}

.auth-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 40px;
}

.auth-buttons a {
    margin-left: 10px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;

}

.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #ffffff41, #000000);
    z-index: -1; /* Coloca el gradiente detrás de los demás elementos del contenedor */
}

.image-container {
    width: 100vw;
    height: 100vh;
    background-image: url(imgs/FondoLOGIN.jpg);
    background-size: cover; /* Ajustar la imagen para cubrir el contenedor */
    background-size: relative;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: lighten;
}

.login-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: fit-content;
}

.login-box {
    width: 300px; 
    border-radius: 5px;
    text-align: center;
    margin: auto;
}

.login-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-content: center;
}

.login-box label {
    display: none;
}

.login-box input {
    border: none; 
    background: transparent; 
    margin-bottom: 15px; 
    padding: 5px; 
    outline: none; 
    border-bottom: 1px solid #ccc; 
    color: white; 
}

.login-box input[type="email"] {
    width: 350px;
    margin-top: 50px;
}

.login-box input[type="password"] {
    width: 350px;
}

.login-box input[type="submit"],
.login-box input[type="button"] {
    padding: 10px;
    border-radius: 28px; 
    cursor: pointer; 
    width: 100%;
}

.login-box input[type="submit"] {
    background-color: #555; 
    color: rgb(0, 0, 0); 
    border: none; 
}

.login-box input[type="button"] {
    background-color: transparent;
    color: rgb(255, 217, 0); 
    border: 1px solid rgb(255, 217, 0); 
    text-align: center;
}

.login-box input::placeholder {
    color: #ffffff; 
}

.login-box a {
    color: white;
    display: block; /* Convertir el enlace en un bloque para aplicar alineación */
    margin-top: 20px; /* Agregar un margen superior para separarlo del botón de registro */
    text-align: center; /* Centrar el texto del enlace */
}


/* Media Query para pantallas pequeñas (mobile) */
@media only screen and (max-width: 375px) {
    .logo {
        width: 150px;
    }

    nav ul li {
        margin-right: 10px;
    }
}

/* Media Query para pantallas medianas (iPad mini) */
@media only screen and (min-width: 376px) and (max-width: 768px) {
    .logo {
        width: 180px;
    }

    nav ul li {
        margin-right: 15px;
    }
}

/* Media Query para pantallas medianas (iPad Pro) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .image-container {
        position: relative;
        width: 100vw; /* Ancho completo de la ventana */
        height: 100vh; /* Alto completo de la ventana */
        background-image: url(imgs/FondoLOGIN.jpg);
        background-size: cover; /* Cubre toda la pantalla */
        background-position: center center; /* Centra la imagen de fondo */
        overflow: hidden; /* Para evitar que la imagen se desborde */
    }

    .image-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); /* Fondo obscurecido */
    }

    .login-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        z-index: 1; /* Asegura que el login box esté sobre el fondo */
    }

    footer {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        text-align: center;
        z-index: 1; /* Asegura que el footer esté sobre el fondo */
    }

    footer a {
        color: white;
        margin: 0 10px;
        text-decoration: none;
        font-size: 20px;
    }
}


/* Media Query para pantallas grandes (MacBook Air) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .logo {
        width: 200px;
    }

    nav ul li {
        margin-right: 20px;
    }
}

/* Media Query para pantallas grandes (MacBook Pro 13in) */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
    .logo {
        width: 220px;
    }

    nav ul li {
        margin-right: 25px;
    }
}

/* Media Query para pantallas extra grandes (HD) */
@media only screen and (min-width: 1441px) {
    .logo {
        width: 250px;
    }

    nav ul li {
        margin-right: 30px;
    }
}

/* Media Query para pantallas medianas (iPad Pro en horizontal y MacBook Air) */
@media only screen and (min-width: 769px) and (max-width: 1280px) {
    .image-container {
        display: block;
        width: 100%;
        height: 100vh;
        background-image: url(imgs/FondoLOGIN.jpg);
        background-size: cover;
        background-position: center;
    }

    .login-container {
        width: 400px;
    }
}

/* Ocultar el footer en pantallas que no son similares al iPad Pro */
@media only screen and (max-width: 768px), (min-width: 1025px) {
    footer {
        display: none;
    }
}